# vim: filetype=gitconfig
# vim: set noexpandtab:

[user]
	name = Guillaume Lostis
	email = {{ .email }}
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	st = status -sb
	co = checkout
	sub = submodule update
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
[commit]
	verbose = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = simple
[pager]
	branch = false
