/*
Follow these instructions https://github.com/Aris-t2/CustomCSSforFx#how-to-find-item-ids-and-attributes to enable an "Inspector" of the browser elements.
This repo https://github.com/Timvde/UserChrome-Tweaks contains nice snippets.
*/

/*
 * Hide the tab bar (I use the sidebar provided by the Tree Style Tab
 * extension instead)
 */
#TabsToolbar {
  visibility: collapse;
}

/*
 * Move navbar (containing the addons and the url bar) to the bottom
 * Taken from https://github.com/jonhoo/configs/blob/master/gui/.mozilla/firefox/chrome/userChrome.css
 */
#main-window body { flex-direction: column-reverse !important; }
#navigator-toolbox { flex-direction: column-reverse !important; }
#urlbar-searchmode-switcher { display: none !important; }
#urlbar {
    top: unset !important;
    bottom: calc(var(--urlbar-margin-inline)) !important;
    box-shadow: none !important;
    display: flex !important;
    flex-direction: column !important;
}
#urlbar > * {
    flex: none;
}
#urlbar .urlbar-input-container {
    order: 2;
}
#urlbar > .urlbarView {
    order: 1;
    border-bottom: 1px solid #666;
}
#urlbar-results {
    display: flex;
    flex-direction: column-reverse;
}
.search-one-offs { display: none !important; }
#navigator-toolbox::after { border: none; }
toolbox[inFullscreen=true] { display: none; }

#mainPopupSet panel.panel-no-padding { margin-top: calc(-50vh + 40px) !important; }
#mainPopupSet .panel-viewstack, #mainPopupSet popupnotification { max-height: 50vh !important; height: 50vh; }
#mainPopupSet panel.panel-no-padding.popup-notification-panel { margin-top: calc(-50vh - 35px) !important; }
#navigator-toolbox .panel-viewstack { max-height: 75vh !important; }
panelview.cui-widget-panelview { flex: 1; }
panelview.cui-widget-panelview > vbox { flex: 1; min-height: 50vh; }

/*
 * Hide certain elements of the sidebar (for Tree Style Tab)
 * and move its header to the bottom
 */
#sidebar-box {
  flex-direction: column-reverse !important;
  max-width: none !important;
  min-width: 0px !important;
}

:root {
    --thin-tab-width: 50px;
    --wide-tab-width: 300px;
}

@media (max-width: 1300px) {
    /* Hide splitter, when using Tree Style Tab. */
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
        display: none !important;
    }

    /* Shrink sidebar until hovered, when using Tree Style Tab. */
    #sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
        min-width: var(--wide-tab-width) !important;
        max-width: none !important;
    }
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
        position: relative !important;
        transition: all 200ms !important;
        min-width: var(--thin-tab-width) !important;
        max-width: var(--thin-tab-width) !important;
        z-index: calc(var(--browser-area-z-index-tabbox, 10000) + 1) !important;
    }
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
        transition: all 200ms !important;
        min-width: var(--wide-tab-width) !important;
        max-width: var(--wide-tab-width) !important;
        margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
    }
}

#sidebar-title,
#sidebar-close {
  visibility: collapse;
}

/*
 * Edit "statuspanel" (the box that shows urls on hover and that show page loading information)
 */

/* Disable the statuspanel when it shows page loading information */
#statuspanel[type="status"] {
  display: none !important;
}

/* Move statuspanel to top and customize its style */
/* In order to remove the delay to display the statuspanel on hover, */
/* set `browser.overlink-delay`to 0 in Firefox's about:config */
/* cf https://superuser.com/a/431278 */
statuspanel[type=overLink], statuspanel[inactive][previoustype=overLink]
{
    -moz-transition: none !important;
}

#statuspanel
{
  padding-top: 0 !important;
  top: 0 !important;
  inset-inline: auto !important;
  font-size: 16px !important;
  bottom: auto !important;
}

#statuspanel-inner
{
  -moz-box-align: start !important;
}

#statuspanel-label
{
  padding: 5px !important;
  background-color: black !important;
  color: white !important;
}

/* Remove some stuff from the "right-click" context menu */
#context-savepage,
#context-pocket,
#context-openlink,
#context-openlinkprivate,
#context-openlinkinusercontext-menu,
#context-savelink,
#context-savelinktopocket,
#context-selectall,
#context-sendpagetodevice,
#context-sendlinktodevice,
#context-inspect-a11y,
#context-printselection
{
  display: none !important;
}
