/*
Follow these instructions https://github.com/Aris-t2/CustomCSSforFx#how-to-find-item-ids-and-attributes to enable an "Inspector" of the browser elements.
This repo https://github.com/Timvde/UserChrome-Tweaks contains nice snippets.
*/

/*
 * Hide the tab bar (I use the sidebar provided by the Tree Style Tab
 * extension instead)
 */
#TabsToolbar {
  visibility: collapse;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbars_below_content_v2.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This requires Firefox 133
 * By default tabs will be the top-most toolbar, but you can set the following pref to move them to bottom:
 * userchrome.toolbars-below-content.tabs-at-bottom.enabled
 */

#navigator-toolbox{
  display: contents;
  --uc-navbar-height: 40px;
}
:root[uidensity="compact"] #navigator-toolbox{
  --uc-navbar-height: 34px;
}
#main-window > body > #browser,
.global-notificationbox,
 #tab-notification-deck,
 #notifications-toolbar,
 #toolbar-menubar{
  order: -1;
}

#TabsToolbar{
  max-height: calc((var(--tab-min-height) + 2 * var(--tab-block-margin,0px)) * var(--multirow-n-rows,1));
}
#toolbar-menubar,
#TabsToolbar{
  background: inherit !important;
}
@media (-moz-platform: linux){
  :root[sizemode="normal"][customtitlebar] #toolbar-menubar{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  #toolbar-menubar,
  #TabsToolbar{
    opacity: 1 !important;
    will-change: unset !important;
  }
  #customizationui-widget-panel[side="top"],
  #notification-popup[side="top"]{
    margin-top: calc(-2 * var(--panel-padding-block) - 40px - 32px - 8.5em) !important;
  }
  #permission-popup[side="top"]{
    margin-top: calc(-2 * var(--panel-padding-block) - 2.5em);
  }
}

#nav-bar,
#PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)), var(--lwt-additional-images,var(--toolbar-bgimage)) !important;
  background-position: top,var(--lwt-background-alignment);
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px));
  background-repeat: repeat,var(--lwt-background-tiling);
}
:root[lwtheme-image] #nav-bar,
:root[lwtheme-image] #PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image), var(--lwt-additional-images,var(--toolbar-bgimage)) !important;
}
#PersonalToolbar{
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px) - var( --uc-navbar-height));
}
#urlbar[breakout][breakout-extend]{
  display: flex !important;
  flex-direction: column-reverse !important;
  transform: translateY(calc(var(--urlbar-container-height) - 100%));
}
#urlbar[breakout-extend]:not([usertyping]) > .urlbar-input-container::after{
  display: flex;
  content: "";
  height: calc(var(--urlbar-min-height) - 2px - 2 * var(--urlbar-container-padding));
}
.urlbarView-body-inner{ border-top-style: none !important; }

@media -moz-pref("userchrome.toolbars-below-content.tabs-at-bottom.enabled"){
  #TabsToolbar{
    order: 3
  }
}

/* End of copied block */

/* Remove the "This time search with:" button */
#urlbar-searchmode-switcher { display: none !important; }

/*
 * Hide certain elements of the sidebar (for Tree Style Tab)
 * and move its header to the bottom
 */
#sidebar-box {
  flex-direction: column-reverse !important;
  max-width: none !important;
  min-width: 0px !important;
}

:root {
    --thin-tab-width: 50px;
    --wide-tab-width: 300px;
}

@media (max-width: 1300px) {
    /* Hide splitter, when using Tree Style Tab. */
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
        display: none !important;
    }

    /* Shrink sidebar until hovered, when using Tree Style Tab. */
    #sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
        min-width: var(--wide-tab-width) !important;
        max-width: none !important;
    }
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
        position: relative !important;
        transition: all 200ms !important;
        min-width: var(--thin-tab-width) !important;
        max-width: var(--thin-tab-width) !important;
        z-index: calc(var(--browser-area-z-index-tabbox, 10000) + 1) !important;
    }
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
        transition: all 200ms !important;
        min-width: var(--wide-tab-width) !important;
        max-width: var(--wide-tab-width) !important;
        margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
    }
}

#sidebar-title,
#sidebar-close {
  visibility: collapse;
}

/*
 * Edit "statuspanel" (the box that shows urls on hover and that show page loading information)
 */

/* Disable the statuspanel when it shows page loading information */
#statuspanel[type="status"] {
  display: none !important;
}

/* Move statuspanel to top and customize its style */
/* In order to remove the delay to display the statuspanel on hover, */
/* set `browser.overlink-delay`to 0 in Firefox's about:config */
/* cf https://superuser.com/a/431278 */
statuspanel[type=overLink], statuspanel[inactive][previoustype=overLink]
{
    -moz-transition: none !important;
}

#statuspanel
{
  padding-top: 0 !important;
  top: 0 !important;
  inset-inline: auto !important;
  font-size: 16px !important;
  bottom: auto !important;
}

#statuspanel-inner
{
  -moz-box-align: start !important;
}

#statuspanel-label
{
  padding: 5px !important;
  background-color: black !important;
  color: white !important;
}

/* Remove some stuff from the "right-click" context menu */
#context-pocket,
#context-openlink,
#context-openlinkprivate,
#context-openlinkinusercontext-menu,
#context-savelink,
#context-savelinktopocket,
#context-selectall,
#context-sendpagetodevice,
#context-sendlinktodevice,
#context-inspect-a11y,
#context-printselection,
#context-ask-chat
{
  display: none !important;
}
