#!/usr/bin/bash
# vim: ft=sh

install_pack="install_packages.sh"

{{ if eq .chezmoi.osRelease.id "arch" -}}
###
# Find native explicitly installed packages that are not listed in $install_pack
###

# All explicitly installed native packages
pacman -Qneq | sort > all.txt

# All explicitly installed native packages that were in fact installed as part of a group
rm -f group.tmp
groups=$(cat $install_pack | grep '(group)$' | awk '{print $1}')
for group in $groups; do
	pacman -Qgq $group >> group.tmp
done
cat group.tmp | sort > group.txt

# Individually installed packages is the difference between the two files
comm -23 all.txt group.txt > ind.txt

# Individually installed native packages listed in $install_pack
cat $install_pack | grep '^    [a-zA-Z][^ ]' | awk '{print $1}' | sort > ind_listed.txt

echo "The following native packages are installed but not listed in $install_pack:"
comm -23 ind{,_listed}.txt
echo

# Cleanup
rm all.txt group.txt group.tmp ind{,_listed}.txt


###
# Find external explicitly installed packages that are not listed in $install_pack
###

# All explicitly installed external packages
pacman -Qmeq | sort > all.txt

# Installed external packages listed in $install_pack
cat $install_pack | grep '(aur)$' | awk '{print $1}' | sort > listed.txt

echo "The following external packages are installed but not listed in $install_pack:"
comm -23 all.txt listed.txt
echo

# Cleanup
rm all.txt listed.txt
{{ end -}}
