[Default Applications]
{{- if eq .chezmoi.hostname "fr-glostis-xps" }}
text/html=google-chrome.desktop
x-scheme-handler/http=google-chrome.desktop
x-scheme-handler/https=google-chrome.desktop
x-scheme-handler/about=google-chrome.desktop
x-scheme-handler/unknown=google-chrome.desktop
{{- else}}
text/html=firefox.desktop
x-scheme-handler/http=firefox.desktop
x-scheme-handler/https=firefox.desktop
x-scheme-handler/about=firefox.desktop
x-scheme-handler/unknown=firefox.desktop
{{- end}}
application/pdf=mupdf.desktop
text/plain=nvim.desktop
text/x-shellscript=nvim.desktop
image/png=feh.desktop
image/jpeg=feh.desktop
image/gif=org.gnome.gThumb.desktop
